In [5]:
import pandas as pd

data = pd.read_csv('multiTimeline.csv')
df = data.copy()

In [9]:
df = data.iloc[:, 1:]

In [10]:
df

Empty DataFrame
Columns: []
Index: [(Semana, medio ambiente: (Todo el mundo), cambio climático: (Todo el mundo), Huella de carbono: (Todo el mundo), Conservación de la naturaleza: (Todo el mundo)), (2019-03-10, 9, 1, <1, 0), (2019-03-17, 9, 1, <1, <1), (2019-03-24, 9, 1, <1, 0), (2019-03-31, 9, 1, <1, <1), (2019-04-07, 8, 1, <1, 0), (2019-04-14, 4, <1, <1, <1), (2019-04-21, 7, <1, <1, <1), (2019-04-28, 7, <1, <1, <1), (2019-05-05, 9, 1, <1, <1), (2019-05-12, 11, 1, <1, <1), (2019-05-19, 12, 1, <1, <1), (2019-05-26, 15, 1, <1, <1), (2019-06-02, 30, 1, <1, 0), (2019-06-09, 13, 1, <1, <1), (2019-06-16, 9, <1, <1, <1), (2019-06-23, 7, <1, <1, 0), (2019-06-30, 6, <1, <1, 0), (2019-07-07, 5, <1, <1, 0), (2019-07-14, 5, <1, <1, 0), (2019-07-21, 5, <1, <1, <1), (2019-07-28, 5, <1, <1, <1), (2019-08-04, 5, <1, <1, <1), (2019-08-11, 6, <1, <1, <1), (2019-08-18, 8, 1, <1, 0), (2019-08-25, 9, 1, <1, 0), (2019-09-01, 10, 1, <1, <1), (2019-09-08, 10, 1, <1, <1), (2019-09-15, 9, 1, <1, <1), (2019-09-22, 11, 2, <1, 0), (2019-09-29, 10, 1, <1, 0), (2019-10-06, 9, 1, <1, <1), (2019-10-13, 10, 1, <1, 0), (2019-10-20, 10, 1, <1, <1), (2019-10-27, 8, 1, <1, <1), (2019-11-03, 9, 1, <1, 0), (2019-11-10, 8, 1, <1, 0), (2019-11-17, 8, 1, <1, 0), (2019-11-24, 8, 1, <1, <1), (2019-12-01, 7, 1, <1, 0), (2019-12-08, 5, 1, <1, <1), (2019-12-15, 4, <1, <1, 0), (2019-12-22, 2, <1, <1, 0), (2019-12-29, 2, <1, <1, 0), (2020-01-05, 4, <1, <1, <1), (2020-01-12, 6, 1, <1, 0), (2020-01-19, 7, 1, <1, <1), (2020-01-26, 6, 1, <1, <1), (2020-02-02, 7, 1, <1, 0), (2020-02-09, 8, 1, <1, <1), (2020-02-16, 8, 1, <1, <1), (2020-02-23, 7, 1, <1, <1), (2020-03-01, 8, 1, <1, <1), (2020-03-08, 8, 1, <1, <1), (2020-03-15, 6, 1, <1, <1), (2020-03-22, 8, 1, <1, <1), (2020-03-29, 8, 1, <1, <1), (2020-04-05, 4, <1, <1, <1), (2020-04-12, 7, 1, <1, <1), (2020-04-19, 13, 1, <1, <1), (2020-04-26, 11, 1, <1, <1), (2020-05-03, 13, 1, <1, <1), (2020-05-10, 13, 1, <1, <1), (2020-05-17, 13, 1, <1, <1), (2020-05-24, 15, 1, <1, <1), (2020-05-31, 31, 1, <1, <1), (2020-06-07, 16, 1, <1, <1), (2020-06-14, 10, 1, <1, <1), (2020-06-21, 9, 1, <1, <1), (2020-06-28, 8, 1, <1, <1), (2020-07-05, 9, 1, <1, <1), (2020-07-12, 7, 1, <1, <1), (2020-07-19, 6, 1, <1, <1), (2020-07-26, 5, 1, <1, <1), (2020-08-02, 6, <1, <1, <1), (2020-08-09, 6, 1, <1, <1), (2020-08-16, 6, 1, <1, <1), (2020-08-23, 9, 1, <1, <1), (2020-08-30, 11, 1, <1, <1), (2020-09-06, 12, 1, <1, <1), (2020-09-13, 10, 1, <1, <1), (2020-09-20, 11, 1, <1, <1), (2020-09-27, 10, 1, <1, <1), (2020-10-04, 10, 1, <1, <1), (2020-10-11, 11, 1, <1, <1), (2020-10-18, 13, 1, 1, <1), (2020-10-25, 12, 1, <1, <1), (2020-11-01, 9, 1, <1, <1), (2020-11-08, 11, 1, <1, <1), (2020-11-15, 10, 1, <1, <1), (2020-11-22, 10, 1, <1, <1), (2020-11-29, 12, 1, <1, <1), (2020-12-06, 8, 1, <1, <1), (2020-12-13, 7, 1, <1, <1), (2020-12-20, 2, <1, <1, 0), (2020-12-27, 2, <1, <1, <1), (2021-01-03, 3, <1, <1, <1), (2021-01-10, 5, 1, <1, <1), (2021-01-17, 7, 1, <1, <1), (2021-01-24, 8, 1, <1, <1), ...]

[263 rows x 0 columns]

In [15]:
df.to_csv('datosgoogle.csv', index=True)

In [16]:
datosgoogle = pd.read_csv('datosgoogle.csv')
datosgoogle

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Semana,medio ambiente: (Todo el mundo),cambio climático: (Todo el mundo),Huella de carbono: (Todo el mundo),Conservación de la naturaleza: (Todo el mundo)
1,2019-03-10,9,1,<1,0
2,2019-03-17,9,1,<1,<1
3,2019-03-24,9,1,<1,0
4,2019-03-31,9,1,<1,<1
...,...,...,...,...,...
258,2024-02-11,7,1,<1,<1
259,2024-02-18,8,1,<1,<1
260,2024-02-25,8,1,<1,<1
261,2024-03-03,0,0,0,0
262,2024-03-10,0,0,0,0

In [17]:
datosgoogle.columns = datosgoogle.iloc[0]

# Eliminamos la primera fila, ya que ahora son los nombres de las columnas
datosgoogle = datosgoogle.drop(0)

In [18]:
datosgoogle

,Semana,medio ambiente: (Todo el mundo),cambio climático: (Todo el mundo),Huella de carbono: (Todo el mundo),Conservación de la naturaleza: (Todo el mundo)
1,2019-03-10,9,1,<1,0
2,2019-03-17,9,1,<1,<1
3,2019-03-24,9,1,<1,0
4,2019-03-31,9,1,<1,<1
5,2019-04-07,8,1,<1,0
...,...,...,...,...,...
258,2024-02-11,7,1,<1,<1
259,2024-02-18,8,1,<1,<1
260,2024-02-25,8,1,<1,<1
261,2024-03-03,0,0,0,0
262,2024-03-10,0,0,0,0

In [19]:
datosgoogle.to_csv('dg.csv', index=True)